#search-block {
  position: absolute;
  margin: 0.5%;
  inset: 0 0 85% 65%;
}

/* search header */
#search-header {
  position: absolute;
  inset: 0 0 55% 0;
  display: grid;
  place-items: center;
}
#search-header span {
  font-size: clamp(1vw, 1.5vw, 2vw);
  font-weight: bolder;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* search selector */
#search-select {
  position: absolute;
  inset: 45% 60% 0 0;
  margin: 0.5%;
  display: grid;
  place-items: center;
  border: 0.2vw solid #015433;
  border-radius: 2vw;
} 

/* input for search query */
#search-input {
  position: absolute;
  inset: 45% 0 0 40%;
  margin: 0.5%;
  display: grid;
  place-items: center;
  border: 0.1vw solid #015433;
  border-radius: 1vw;
}